interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/
  response:
    body:
      string: '{"result":{"revision":"1e57b63899ae23163811891c68efa5699fcfcc4f","uptime":"780h32m6.004966146s","documentation":"https://cryptowat.ch/docs/api","indexes":["https://api.cryptowat.ch/assets","https://api.cryptowat.ch/pairs","https://api.cryptowat.ch/exchanges","https://api.cryptowat.ch/markets"]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
