interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/trades
  response:
    body:
      string: '{"result":[[0,1692470072,24079.5,0.00133],[0,1692470072,24086.6,0.0003829],[0,1692470072,24086.7,0.00644664],[0,1692470076,24084.8,0.00054006],[0,1692470092,24080.8,0.00352978],[0,1692470111,24077.6,0.0001],[0,1692470111,24077.6,0.01286177],[0,1692470115,24075.7,0.0006539],[0,1692470118,24075.8,0.00025],[0,1692470125,24075.1,0.00409213],[0,1692470134,24075.1,0.00053703],[0,1692470134,24075.1,0.00472219],[0,1692470135,24075.1,0.00439472],[0,1692470139,24075,0.08308324],[0,1692470143,24072.4,0.00103135],[0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/trades
  response:
    body:
      string: '{"result":[[0,1692470276,0.06432,0.0079],[0,1692470288,0.06432,0.1169],[0,1692470296,0.06431,0.0666],[0,1692470296,0.06431,0.1073],[0,1692470325,0.06431,0.0158],[0,1692470325,0.0643,0.4111],[0,1692470332,0.0643,12.0642],[0,1692470346,0.06431,0.0188],[0,1692470369,0.06431,0.0692],[0,1692470374,0.0643,0.0037],[0,1692470374,0.0643,0.0157],[0,169[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/trades
  response:
    body:
      string: '{"result":[[0,1692457408,0.002459,0.09900826],[0,1692457873,0.002458,1],[0,1692457873,0.002458,0.20333469],[0,1692457873,0.002458,0.32533549],[0,1692457913,0.002458,0.1501962],[0,1692457934,0.002457,0.1],[0,1692458135,0.002458,0.09391868],[0,1692458135,0.002459,0.90564701],[0,1692458193,0.002459,0.99998904],[0,1692458211,0.002458,0.09973906],[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/trades
  response:
    body:
      string: '{"result":[[0,1692395730,0.00415885,9.00260698],[0,1692404036,0.00410688,13],[0,1692415936,0.00413277,0.45654085],[0,1692420624,0.00413282,33.19953669],[0,1692420624,0.00399181,0.35385254],[0,1692422916,0.0041434,0.36720601],[0,1692433459,0.00424372,1],[0,1692437576,0.0042149,3],[0,1692438888,0.00421545,1],[0,1692465837,0.00419342,30]],"allowance":{"cost":0.01,"remaining":9.835,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/trades
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.01,"remaining":9.825,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
