interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/orderbook/liquidity
  response:
    body:
      string: '{"result":{"bid":{"base":{"100":"186.83213063","150":"198.84936138","200":"207.12492497","25":"61.7743531","250":"226.75434554","300":"233.88050475","400":"278.52154763","50":"145.26285208","500":"325.17233201","75":"167.83128967"},"quote":{"100":"4480505.802475278","150":"4766543.426412003","200":"4962433.860325667","25":"1484908.870102682","250":"5423820.704824654","300":"5590720.217491935","400":"6629886.006141927","50":"3487490.914412052","500":"7703164.547449547","75":"4027218.244663039"}},"ask":{"base":{"100":"100.12366025","150":"102.67668251","200":"106.03183174","25":"37.60149534","250":"110.12824498","300":"111.19807931","400":"115.85788501","50":"78.00319387","500":"121.72089501","75":"86.14544798"},"quote":{"100":"2418519.139415699","150":"2480729.45893558","200":"2562895.19169505","25":"906276.295815148","250":"2663693.378612757","300":"2690202.812192392","400":"2806329.107585916","50":"1882182.066455578","500":"2953991.145035162","75":"2079228.296743024"}}},"allowance":{"cost":0.005,"remaining":9.745,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/orderbook/liquidity
  response:
    body:
      string: '{"result":{"bid":{"base":{"100":"1409.4605","150":"1747.1188","200":"2046.1015","25":"480.2796","250":"2509.422","300":"2772.1664","400":"3825.4731","50":"1006.7911","500":"4615.4249","75":"1321.5876"},"quote":{"100":"90.310013712","150":"111.759646034","200":"130.656244703","25":"30.847921805","250":"159.783376933","300":"176.214432367","400":"241.635349397","50":"64.580329345","500":"290.209508627","75":"84.706689674"}},"ask":{"base":{"100":"1450.2189","150":"2098.0312","200":"2420.3001","25":"516.0635","250":"2866.9829","300":"3534.153","400":"4741.8427","50":"822.7442","500":"5302.1159","75":"1216.2668"},"quote":{"100":"93.671214205","150":"135.812374301","200":"156.912130388","25":"33.231824428","250":"186.294732156","300":"230.346618275","400":"310.662262716","50":"53.028110088","500":"348.278680637","75":"78.492462774"}}},"allowance":{"cost":0.005,"remaining":9.74,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/orderbook/liquidity
  response:
    body:
      string: '{"result":{"bid":{"base":{"100":"2791.99646446","150":"2839.17451155","200":"3241.35144961","25":"1216.78385236","250":"3254.2873832","300":"4122.77539391","400":"4215.81702686","50":"1655.25913623","500":"4256.77222181","75":"1781.66061476"},"quote":{"100":"6.81694159297967","150":"6.93136267336487","200":"7.90238788225337","25":"2.98135774206975","250":"7.93341201162341","300":"10.00393782600138","400":"10.22460274163646","50":"4.05314463032854","500":"10.32053524711932","75":"4.36154954950615"}},"ask":{"base":{"100":"1203.03292838","150":"1467.90913805","200":"1550.80511343","25":"420.83470379","250":"1586.40422026","300":"1622.16136349","400":"2081.54429986","50":"805.09195267","500":"2236.20628669","75":"1073.62790224"},"quote":{"100":"2.96596903448475","150":"3.62330929038212","200":"3.83043439615215","25":"1.03493025095952","250":"3.91986667377048","300":"4.01006662149159","400":"5.17288755002221","50":"1.98204300159536","500":"5.56958174096096","75":"2.64531614668369"}}},"allowance":{"cost":0.005,"remaining":9.735,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/orderbook/liquidity
  response:
    body:
      string: '{"result":{"bid":{"base":{"100":"48.51617168","150":"48.51617168","200":"48.51617168","25":"48.51617168","250":"50.42720204","300":"50.42720204","400":"51.15333373","50":"48.51617168","500":"52.77987607","75":"48.51617168"},"quote":{"100":"0.2038921224555008","150":"0.2038921224555008","200":"0.2038921224555008","25":"0.2038921224555008","250":"0.21175786608635","300":"0.21175786608635","400":"0.2147168309391493","50":"0.2038921224555008","500":"0.2212407899399037","75":"0.2038921224555008"}},"ask":{"base":{"100":"830.6063929","150":"830.6063929","200":"830.9702211","25":"48.03987081","250":"830.9702211","300":"830.9702211","400":"834.06043533","50":"830.6063929","500":"834.06043533","75":"830.6063929"},"quote":{"100":"3.5897436448133439","150":"3.5897436448133439","200":"3.5913363355033819","25":"0.2069980385357928","250":"3.5913363355033819","300":"3.5913363355033819","400":"3.6051071683374838","50":"3.5897436448133439","500":"3.6051071683374838","75":"3.5897436448133439"}}},"allowance":{"cost":0.005,"remaining":9.73,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/orderbook/liquidity
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.005,"remaining":9.725,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
