interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/btceur
  response:
    body:
      string: '{"result":{"id":232,"symbol":"btceur","base":{"id":60,"sid":"bitcoin","symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"quote":{"id":108,"sid":"euro","symbol":"eur","name":"Euro","fiat":true,"route":"https://api.cryptowat.ch/assets/eur"},"route":"https://api.cryptowat.ch/pairs/btceur","markets":[{"id":66,"exchange":"coinbase","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/coinbase/btceur"},{"id":75,"exchange":"bitstamp","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/bitstamp/btceur"},{"id":86,"exchange":"kraken","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/kraken/btceur"},{"id":149,"exchange":"wex","pair":"btceur","active":false,"route":"https://api.cryptowat.ch/markets/wex/btceur"},{"id":167,"exchange":"cryptsy","pair":"btceur","active":false,"route":"https://api.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/ethbtc
  response:
    body:
      string: '{"result":{"id":21,"symbol":"ethbtc","base":{"id":77,"sid":"ethereum","symbol":"eth","name":"Ethereum","fiat":false,"route":"https://api.cryptowat.ch/assets/eth"},"quote":{"id":60,"sid":"bitcoin","symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"route":"https://api.cryptowat.ch/pairs/ethbtc","markets":[{"id":5,"excha[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/xmrbtc
  response:
    body:
      string: '{"result":{"id":148,"symbol":"xmrbtc","base":{"id":76,"sid":"monero","symbol":"xmr","name":"Monero","fiat":false,"route":"https://api.cryptowat.ch/assets/xmr"},"quote":{"id":60,"sid":"bitcoin","symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"route":"https://api.cryptowat.ch/pairs/xmrbtc","markets":[{"id":26,"exchang[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/does-not-exist
  response:
    body:
      string: '{"error":"Pair not found","allowance":{"cost":0.002,"remaining":9.923,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
