interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/exchanges/kraken
  response:
    body:
      string: '{"result":{"id":4,"symbol":"kraken","name":"Kraken","active":true,"routes":{"markets":"https://api.cryptowat.ch/markets/kraken"}},"allowance":{"cost":0.002,"remaining":9.919,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/exchanges/binance
  response:
    body:
      string: '{"result":{"id":27,"symbol":"binance","name":"Binance","active":true,"routes":{"markets":"https://api.cryptowat.ch/markets/binance"}},"allowance":{"cost":0.002,"remaining":9.917,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/exchanges/bittrex
  response:
    body:
      string: '{"result":{"id":25,"symbol":"bittrex","name":"Bittrex","active":true,"routes":{"markets":"https://api.cryptowat.ch/markets/bittrex"}},"allowance":{"cost":0.002,"remaining":9.915,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/exchanges/aaa
  response:
    body:
      string: '{"error":"Exchange not found","allowance":{"cost":0.002,"remaining":9.913,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
