interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/summary
  response:
    body:
      string: '{"result":{"price":{"last":24093.1,"high":24224.5,"low":23756,"change":{"percentage":0.0017087976051886973,"absolute":41.099999999998545}},"volume":578.4614060096544,"volumeQuote":13866950.764776487},"allowance":{"cost":0.005,"remaining":9.82,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.06429,"high":0.06468,"low":0.0635,"change":{"percentage":0.009262166405023442,"absolute":0.0005899999999999933}},"volume":24596.902800085638,"volumeQuote":1573.9204722017441},"allowance":{"cost":0.005,"remaining":9.815,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.002461,"high":0.002485,"low":0.002452,"change":{"percentage":-0.009259259259259266,"absolute":-0.000023000000000000017}},"volume":999.3466923400359,"volumeQuote":2.4692393721367036},"allowance":{"cost":0.005,"remaining":9.81,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.00419342,"high":0.00424372,"low":0.00399181,"change":{"percentage":0.00831239405123998,"absolute":0.00003456999999999939}},"volume":91.37974307000005,"volumeQuote":0.37976488308012424},"allowance":{"cost":0.005,"remaining":9.805,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/summary
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.005,"remaining":9.8,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
