interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/orderbook/calculator?amount=10
  response:
    body:
      string: '{"result":{"buy":{"avgPrice":"24087.6648375795","avgDelta":"8.8648375795","avgDeltaBps":"3","reachPrice":"24098.3","reachDelta":"19.5","reachDeltaBps":"8","spend":"240876.648375795"},"sell":{"avgPrice":"24072.3227048457","avgDelta":"-5.8772951543","avgDeltaBps":"-3","reachPrice":"24069.3","reachDelta":"-8.9","reachDeltaBps":"-4","receive":"240723.227048457"}},"allowance":{"cost":0.015,"remaining":9.68,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
