interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/orderbook/calculator?amount=10.0
  response:
    body:
      string: '{"result":{"buy":{"avgPrice":"36836.1876555928","avgDelta":"16.7876555928","avgDeltaBps":"4","reachPrice":"36843.2","reachDelta":"23.8","reachDeltaBps":"6","spend":"368361.876555928"},"sell":{"avgPrice":"36800.2061114187","avgDelta":"-10.1938885813","avgDeltaBps":"-3","reachPrice":"36783.5","reachDelta":"-26.9","reachDeltaBps":"-8","receive":"368002.061114187"}},"allowance":{"cost":0.015,"remaining":9.773,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
