interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur
  response:
    body:
      string: '{"result":{"id":86,"exchange":"kraken","pair":"btceur","active":true,"routes":{"price":"https://api.cryptowat.ch/markets/kraken/btceur/price","summary":"https://api.cryptowat.ch/markets/kraken/btceur/summary","orderbook":"https://api.cryptowat.ch/markets/kraken/btceur/orderbook","trades":"https://api.cryptowat.ch/markets/kraken/btceur/trades","ohlc":"https://api.cryptowat.ch/markets/kraken/btceur/ohlc"}},"allowance":{"cost":0.002,"remaining":9.908,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc
  response:
    body:
      string: '{"result":{"id":580,"exchange":"binance","pair":"ethbtc","active":true,"routes":{"price":"https://api.cryptowat.ch/markets/binance/ethbtc/price","summary":"https://api.cryptowat.ch/markets/binance/ethbtc/summary","orderbook":"https://api.cryptowat.ch/markets/binance/ethbtc/orderbook","trades":"https://api.cryptowat.ch/markets/binance/ethbtc/trades","ohlc":"https://api.cryptowat.ch/markets/binance/ethbtc/ohlc"}},"allowance":{"cost":0.002,"remaining":9.906,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc
  response:
    body:
      string: '{"result":{"id":92,"exchange":"kraken","pair":"ltcbtc","active":true,"routes":{"price":"https://api.cryptowat.ch/markets/kraken/ltcbtc/price","summary":"https://api.cryptowat.ch/markets/kraken/ltcbtc/summary","orderbook":"https://api.cryptowat.ch/markets/kraken/ltcbtc/orderbook","trades":"https://api.cryptowat.ch/markets/kraken/ltcbtc/trades","ohlc":"https://api.cryptowat.ch/markets/kraken/ltcbtc/ohlc"}},"allowance":{"cost":0.002,"remaining":9.904,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth
  response:
    body:
      string: '{"result":{"id":387,"exchange":"bittrex","pair":"neoeth","active":true,"routes":{"price":"https://api.cryptowat.ch/markets/bittrex/neoeth/price","summary":"https://api.cryptowat.ch/markets/bittrex/neoeth/summary","orderbook":"https://api.cryptowat.ch/markets/bittrex/neoeth/orderbook","trades":"https://api.cryptowat.ch/markets/bittrex/neoeth/trades","ohlc":"https://api.cryptowat.ch/markets/bittrex/neoeth/ohlc"}},"allowance":{"cost":0.002,"remaining":9.902,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.002,"remaining":9.9,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
