interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/orderbook
  response:
    body:
      string: '{"result":{"asks":[[36818.2,0.305],[36818.3,0.04052948],[36818.4,0.04398614],[36818.5,0.06558016],[36819.1,0.305],[36819.3,0.00556625],[36819.9,0.33744984],[36820,0.39561822],[36820.9,3.63332324],[36825.8,0.09934956],[36827.3,0.00616532],[36832.7,0.16],[36833,6.05599951],[36834.7,0.9784],[36837.9,3.27563428],[36838.4,0.3],[36839.3,4.84554772],[36840.6,6.79014337],[36842.3,0.00613032],[36842.9,0.25],[36843,0.16731613],[36848.5,0.4],[36849.4,0.01041626],[36850.4,0.105388],[36850.5,0.00550274],[36855.1,0.18980806],[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.068119,4.4746],[0.068123,1.032],[0.068124,1.3629],[0.068127,1.7866],[0.068129,0.1779],[0.068132,0.0976],[0.068133,6.2209],[0.068134,15.2261],[0.068135,0.4751],[0.068136,3.7502],[0.068137,9.8497],[0.068138,0.228],[0.068139,2.9679],[0.06814,0.05],[0.068142,0.05],[0.068143,0.5424],[0.068144,0.8868],[0.068146,0.05],[0.068[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.002645,157.44335781],[0.002646,134.54719241],[0.002647,148.02064294],[0.002648,158.44394681],[0.002649,223.79836677],[0.00265,508.5578451],[0.002651,290.86980787],[0.002652,284.73505406],[0.002653,27.61],[0.002654,20.2],[0.002655,465.5811042],[0.002656,195.32],[0.002658,82.48763764],[0.002659,239.24813642],[0.00266,105[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.007523,1136.383862],[0.00758403,55.98265536],[0.00760653,0.3433429],[0.00765335,14.74],[0.00765336,0.234891],[0.00767743,0.21895187],[0.00774123,0.22048433],[0.0077914,0.20625247],[0.00793151,0.99016089],[0.00794961,0.147166],[0.00804028,0.25048794],[0.00811199,4.36203914],[0.008112,2.1851544],[0.00812098,0.79055255],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/orderbook
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.01,"remaining":9.828,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
