interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/btceur
  response:
    body:
      string: '{"result":{"id":232,"symbol":"btceur","base":{"id":60,"symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"quote":{"id":108,"symbol":"eur","name":"euro","fiat":true,"route":"https://api.cryptowat.ch/assets/eur"},"route":"https://api.cryptowat.ch/pairs/btceur","markets":[{"id":670,"exchange":"zonda","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/zonda/btceur"},{"id":138101,"exchange":"ftx-us","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/ftx-us/btceur"},{"id":186,"exchange":"quoine","pair":"btceur","active":false,"route":"https://api.cryptowat.ch/markets/quoine/btceur"},{"id":136196,"exchange":"luno","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/luno/btceur"},{"id":139213,"exchange":"gemini","pair":"btceur","active":true,"route":"https://a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/ethbtc
  response:
    body:
      string: '{"result":{"id":21,"symbol":"ethbtc","base":{"id":77,"symbol":"eth","name":"Ethereum","fiat":false,"route":"https://api.cryptowat.ch/assets/eth"},"quote":{"id":60,"symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"route":"https://api.cryptowat.ch/pairs/ethbtc","markets":[{"id":85,"exchange":"bitstamp","pair":"ethbtc",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/xmrbtc
  response:
    body:
      string: '{"result":{"id":148,"symbol":"xmrbtc","base":{"id":76,"symbol":"xmr","name":"Monero","fiat":false,"route":"https://api.cryptowat.ch/assets/xmr"},"quote":{"id":60,"symbol":"btc","name":"Bitcoin","fiat":false,"route":"https://api.cryptowat.ch/assets/btc"},"route":"https://api.cryptowat.ch/pairs/xmrbtc","markets":[{"id":59247,"exchange":"gateio","pair":"xmrbtc",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/pairs/aaa
  response:
    body:
      string: '{"error":"Pair not found","allowance":{"cost":0.002,"remaining":9.992,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
