interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/summaries
  response:
    body:
      string: '{"result":{"binance-us:1inchusd":{"price":{"last":1.447,"high":1.471,"low":1.329,"change":{"percentage":-0.00481430536451162,"absolute":-0.006999999999999895}},"volume":72712.79999999932,"volumeQuote":100702.64050000088},"binance-us:1inchusdt":{"price":{"last":1.444,"high":1.468,"low":1.326,"change":{"percentage":-0.005509641873278242,"absolute":-0.008000000000000007}},"volume":39159.19999999984,"volumeQuote":54551.984100000256},"binance-us:aaveusd":{"price":{"last":141.79,"high":143.18,"low":128.09,"change":{"percentage":-0.003933965577801211,"absolute":-0.5600000000000023}},"volume":3690.2516000000473,"volumeQuote":498608.8899509975},"binance-us:aaveusdt":{"price":{"last":141.76,"high":142.[...]
