interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/summaries
  response:
    body:
      string: '{"result":{"binance-us:1inchusdt":{"price":{"last":0.248,"high":0.2493,"low":0.2428,"change":{"percentage":0.021416803953871542,"absolute":0.00520000000000001}},"volume":2909.3999999999387,"volumeBase":2909.3999999999387,"volumeQuote":714.9608699999536,"volumeUSD":714.8517491014626},"binance-us:aaveusdt":{"price":{"last":56.37,"high":57.2,"low":55.23,"change":{"percentage":0.020456191165821785,"absolute":1.1299999999999955}},"volume":69.94500000001125,"volumeBase":69.94500000001125,"volumeQuote":3942.2641199999644,"volumeUSD":3941.580015714781},"binance-us:achusdt":{"price":{"last":0.01498,"high":0.01509,"low":0.01411,"change":{"percentage":0.06165839829907874,"absolute":0.000870000000000001}},"volume":235254,"volumeBase":235254,"volumeQuote":3414.9552099[...]
