interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/orderbook
  response:
    body:
      string: '{"result":{"asks":[[24093.2,0.06769469],[24093.5,0.03948862],[24093.7,0.09824719],[24093.8,0.23],[24094.4,0.31789081],[24094.5,0.61798094],[24094.7,0.62718392],[24095,0.7],[24095.2,0.7],[24095.3,1.53119318],[24096.6,0.63608],[24096.8,0.25],[24097.9,0.10292988],[24099.4,0.3],[24100,0.01067404],[24100.1,0.4],[24101.5,0.0395],[24102.5,0.00030418],[24102.6,0.10594089],[24102.9,0.37215961],[24103.1,0.00133],[24103.2,0.19371],[24103.3,0.07992002],[24106.2,1.00502],[24107.6,0.5734],[24108.5,0.00129],[24109.4,0.0003],[24[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.06432,48.0632],[0.06433,19.4864],[0.06434,21.727],[0.06435,7.8167],[0.06436,30.6097],[0.06437,54.522],[0.06438,21.2358],[0.06439,17.3785],[0.0644,66.9389],[0.06441,6.8915],[0.06442,3.9098],[0.06443,191.9642],[0.06444,1.6718],[0.06445,2.7202],[0.06446,1.4924],[0.06447,16.865],[0.06448,2.9555],[0.06449,2.3291],[0.0645,1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.002456,15.1798408],[0.002457,35.49466163],[0.002458,53.65637204],[0.002459,37.46762287],[0.00246,229.12305424],[0.002461,20.35610166],[0.002462,4.20345672],[0.002463,194.828],[0.002464,16.3069],[0.002465,20.2],[0.002467,134.172],[0.002468,18.75034888],[0.002469,18.65034957],[0.00247,243.1905],[0.002474,2],[0.002475,5],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/orderbook
  response:
    body:
      string: '{"result":{"asks":[[0.00430888,48.03987081],[0.00432263,780.54413073],[0.00432267,2.02239136],[0.00437759,0.3638282],[0.00444621,0.7905528],[0.00445973,2.29966143],[0.00459483,0.4338586],[0.00462599,10],[0.00462611,780.54413073],[0.00464996,0.4],[0.00493946,7.48750027],[0.00509996,0.4],[0.00531262,6.19401964],[0.00546312,3.08596059],[0.005[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/orderbook
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.01,"remaining":9.75,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
