interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/
  response:
    body:
      string: '{"result":{"revision":"c2d65c259c844e720c0c5593e805a16cc9c7321c","uptime":"29h19m41.471239115s","documentation":"https://cryptowat.ch/docs/api","indexes":["https://api.cryptowat.ch/assets","https://api.cryptowat.ch/pairs","https://api.cryptowat.ch/exchanges","https://api.cryptowat.ch/markets"]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
