interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/trades
  response:
    body:
      string: '{"result":[[0,1646071303,36936.4,0.00013731],[0,1646071306,36936.4,0.01033049],[0,1646071314,36936.5,0.00012068],[0,1646071314,36936.5,0.00227932],[0,1646071314,36955.6,0.00027123],[0,1646071319,36969,0.00754989],[0,1646071320,36968.9,0.003],[0,1646071320,36966.9,0.05324573],[0,1646071323,36949,0.001],[0,1646071327,36943.5,0.04120703],[0,1646071334,36934.7,0.00266783],[0,1646071336,36929.5,0.02708027],[0,1646071341,36930.4,0.00025973],[0,1646071352,36954.4,0.002],[0,1646071353,36964.2,0.00241933],[0,16460[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/trades
  response:
    body:
      string: '{"result":[[0,1646071406,0.068129,0.03],[0,1646071406,0.068129,0.7558],[0,1646071407,0.06813,0.0565],[0,1646071407,0.06813,0.7128],[0,1646071408,0.06813,0.1593],[0,1646071408,0.06813,0.7158],[0,1646071408,0.068129,0.486],[0,1646071408,0.068129,0.2904],[0,1646071408,0.068129,0.516],[0,1646071410,0.06813,0.0762],[0,1646071413,0.068128,0.05],[0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/trades
  response:
    body:
      string: '{"result":[[0,1646066025,0.002664,0.47895417],[0,1646066065,0.002664,0.1550289],[0,1646066230,0.002664,0.71794],[0,1646066404,0.002662,3.6],[0,1646066404,0.002662,7.89],[0,1646066599,0.002663,8.435216],[0,1646066883,0.002661,0.20538091],[0,1646066917,0.00266,2],[0,1646066922,0.002657,0.99525],[0,1646067101,0.002662,7.10742],[0,1646067393,0.002[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/trades
  response:
    body:
      string: '{"result":[[0,1646030390,0.00767221,0.19063797],[0,1646030390,0.00767268,0.181462],[0,1646030400,0.00768275,0.22757715],[0,1646030586,0.00770352,0.25445134],[0,1646030750,0.00771504,0.1926253],[0,1646030917,0.00773614,0.18909687],[0,1646030923,0.00775743,0.135086],[0,1646030924,0.00776424,0.21848573],[0,1646030956,0.00779835,0.25765498],[0,16[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/trades
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.01,"remaining":9.918,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
