interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/btc
  response:
    body:
      string: '{"result":{"id":60,"symbol":"btc","name":"Bitcoin","fiat":false,"markets":{"base":[{"id":1,"exchange":"bitfinex","pair":"btcusd","active":true,"route":"https://api.cryptowat.ch/markets/bitfinex/btcusd"},{"id":65,"exchange":"coinbase-pro","pair":"btcusd","active":true,"route":"https://api.cryptowat.ch/markets/coinbase-pro/btcusd"},{"id":66,"exchange":"coinbase-pro","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/coinbase-pro/btceur"},{"id":67,"exchange":"coinbase-pro","pair":"btcgbp","active":true,"route":"https://api.cryptowat.ch/markets/coinbase-pro/btcgbp"},{"id":74,"exchange":"bitstamp","pair":"btcusd","active":true,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/eur
  response:
    body:
      string: '{"result":{"id":108,"symbol":"eur","name":"Euro","fiat":true,"markets":{"base":[{"id":82,"exchange":"bitstamp","pair":"eurusd","active":true,"route":"https://api.cryptowat.ch/markets/bitstamp/eurusd"},{"id":4653,"exchange":"wex","pair":"eurrub","active":false,"route":"https://api.cryptowat.ch/markets/wex/eurrub"},{"id":4667,"exchange":"wex","pair":"eurusd","act[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/eth
  response:
    body:
      string: '{"result":{"id":77,"symbol":"eth","name":"Ethereum","fiat":false,"markets":{"base":[{"id":4,"exchange":"bitfinex","pair":"ethusd","active":true,"route":"https://api.cryptowat.ch/markets/bitfinex/ethusd"},{"id":5,"exchange":"bitfinex","pair":"ethbtc","active":true,"route":"https://api.cryptowat.ch/markets/bitfinex/ethbtc"},{"id":68,"exchange":"coinbase-pro","pai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/kfee
  response:
    body:
      string: '{"result":{"id":4565,"symbol":"kfee","name":"Kraken Fee Credits","fiat":false,"markets":{}},"allowance":{"cost":0.002,"remaining":9.898,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/aaa
  response:
    body:
      string: '{"error":"Asset not found","allowance":{"cost":0.002,"remaining":9.896,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
