interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/price
  response:
    body:
      string: '{"result":{"price":36910.5},"allowance":{"cost":0.005,"remaining":9.988,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/price
  response:
    body:
      string: '{"result":{"price":0.068138},"allowance":{"cost":0.005,"remaining":9.983,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/price
  response:
    body:
      string: '{"result":{"price":0.002638},"allowance":{"cost":0.005,"remaining":9.978,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/price
  response:
    body:
      string: '{"result":{"price":0.00746723},"allowance":{"cost":0.005,"remaining":9.973,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/price
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.005,"remaining":9.968,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
