interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/btc
  response:
    body:
      string: '{"result":{"id":60,"symbol":"btc","name":"Bitcoin","fiat":false,"markets":{"base":[{"id":5779,"exchange":"liquid","pair":"btcinr","active":false,"route":"https://api.cryptowat.ch/markets/liquid/btcinr"},{"id":5781,"exchange":"liquid","pair":"btccny","active":false,"route":"https://api.cryptowat.ch/markets/liquid/btccny"},{"id":5789,"exchange":"liquid","pair":"btcusdc","active":false,"route":"https://api.cryptowat.ch/markets/liquid/btcusdc"},{"id":5794,"exchange":"liquid","pair":"btcsgd","active":true,"route":"https://api.cryptowat.ch/markets/liquid/btcsgd"},{"id":5795,"exchange":"liquid","pair":"btchkd","active":true,"route":"https://api.cryptow[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/eur
  response:
    body:
      string: '{"result":{"id":108,"symbol":"eur","name":"euro","fiat":true,"markets":{"base":[{"id":63898,"exchange":"bitfinex","pair":"eurusdt-perpetual-future-inverse","active":false,"route":"https://api.cryptowat.ch/markets/bitfinex/eurusdt-perpetual-future-inverse"},{"id":184324,"exchange":"bitfinex","pair":"eurusdt-perpetual-futures","active":true,"route":"https://api.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/eth
  response:
    body:
      string: '{"result":{"id":77,"symbol":"eth","name":"Ethereum","fiat":false,"markets":{"base":[{"id":68,"exchange":"coinbase-pro","pair":"ethusd","active":true,"route":"https://api.cryptowat.ch/markets/coinbase-pro/ethusd"},{"id":69,"exchange":"coinbase-pro","pair":"ethbtc","active":true,"route":"https://api.cryptowat.ch/markets/coinbase-pro/ethbtc"},{"id":72,"exchange":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets/aaa
  response:
    body:
      string: '{"error":"Asset not found","allowance":{"cost":0.002,"remaining":9.98,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
