interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/btceur/summary
  response:
    body:
      string: '{"result":{"price":{"last":36870,"high":37000,"low":33152.2,"change":{"percentage":0.06754456064764958,"absolute":2332.800000000003}},"volume":2444.4259302408254,"volumeQuote":84978073.119099},"allowance":{"cost":0.005,"remaining":9.898,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance/ethbtc/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.068154,"high":0.070741,"low":0.068081,"change":{"percentage":-0.03501493763008466,"absolute":-0.002472999999999989}},"volume":92528.8554999748,"volumeQuote":6393.598508682547},"allowance":{"cost":0.005,"remaining":9.893,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/ltcbtc/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.002641,"high":0.002747,"low":0.002635,"change":{"percentage":-0.037185563251913994,"absolute":-0.0001020000000000001}},"volume":2443.513855400054,"volumeQuote":6.635233925849521},"allowance":{"cost":0.005,"remaining":9.888,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex/neoeth/summary
  response:
    body:
      string: '{"result":{"price":{"last":0.00746723,"high":0.00797431,"low":0.00746723,"change":{"percentage":-0.009473844786533396,"absolute":-0.00007141999999999999}},"volume":1142.2932887199997,"volumeQuote":8.751672439272872},"allowance":{"cost":0.005,"remaining":9.883,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken/aaabbb/summary
  response:
    body:
      string: '{"error":"Instrument not found","allowance":{"cost":0.005,"remaining":9.878,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
