interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/kraken
  response:
    body:
      string: '{"result":[{"id":86,"exchange":"kraken","pair":"btceur","active":true,"route":"https://api.cryptowat.ch/markets/kraken/btceur"},{"id":87,"exchange":"kraken","pair":"btcusd","active":true,"route":"https://api.cryptowat.ch/markets/kraken/btcusd"},{"id":88,"exchange":"kraken","pair":"btcgbp","active":true,"route":"https://api.cryptowat.ch/markets/kraken/btcgbp"},{"id":89,"exchange":"kraken","pair":"btcjpy","active":true,"route":"https://api.cryptowat.ch/markets/kraken/btcjpy"},{"id":90,"exchange":"kraken","pair":"btccad","active":true,"route":"https://api.cryptowat.ch/market[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/binance
  response:
    body:
      string: '{"result":[{"id":579,"exchange":"binance","pair":"btcusdt","active":true,"route":"https://api.cryptowat.ch/markets/binance/btcusdt"},{"id":580,"exchange":"binance","pair":"ethbtc","active":true,"route":"https://api.cryptowat.ch/markets/binance/ethbtc"},{"id":581,"exchange":"binance","pair":"ltcbtc","active":true,"route":"https://api.cryptowat.ch/markets/bi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/bittrex
  response:
    body:
      string: '{"result":[{"id":382,"exchange":"bittrex","pair":"ethbtc","active":true,"route":"https://api.cryptowat.ch/markets/bittrex/ethbtc"},{"id":383,"exchange":"bittrex","pair":"neobtc","active":true,"route":"https://api.cryptowat.ch/markets/bittrex/neobtc"},{"id":384,"exchange":"bittrex","pair":"stratbtc","active":false,"route":"https://api.cryptowat.ch/markets/b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/markets/aabbbaba
  response:
    body:
      string: '{"error":"Exchange not found","allowance":{"cost":0.002,"remaining":9.763,"upgrade":"For
        unlimited API access, create an account at https://cryptowat.ch"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
