interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets
  response:
    body:
      string: "{\"result\":[{\"id\":7167,\"symbol\":\"1-up\",\"name\":\"1-UP Platform\",\"fiat\":false,\"route\":\"https://api.cryptowat.ch/assets/1-up\"},{\"id\":5478,\"symbol\":\"10set\",\"name\":\"Tenset\",\"fiat\":false,\"route\":\"https://api.cryptowat.ch/assets/10set\"},{\"id\":6268,\"symbol\":\"1337\",\"name\":\"E1337\",\"fiat\":false,\"route\":\"https://api.cryptowat.ch/assets/1337\"},{\"id\":7431,\"symbol\":\"1earth\",\"name\":\"EarthFund\",\"fiat\":false,\"route\":\"https://api.cryptowat.ch/assets/1earth\"},{\"id\":7462,\"symbol\":\"1eco\",\"name\":\"1eco\",\"fiat\":false,\"route\":\"https://api.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets?limit=20
  response:
    body:
      string: '{"result":[{"id":10,"symbol":"aud","name":"Australian Dollar","fiat":true,"route":"https://api.cryptowat.ch/assets/aud"},{"id":14,"symbol":"bat","name":"Basic
        Attention Token","fiat":false,"route":"https://api.cryptowat.ch/assets/bat"},{"id":7,"symbol":"bcy","name":"Bitcrystals","fiat":false,"route":"https://api.cryptowat.ch/assets/bcy"},{"id":19,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cryptowat.ch/assets?cursor=8F2th1jDQgqBsgKAyCybs_1_9i_0XBb-5srq2y243MUNSWEAKx3bDCw&limit=20
  response:
    body:
      string: '{"result":[{"id":34,"symbol":"bcc","name":"Bitcoin Core Chain Split
        Token","fiat":false,"route":"https://api.cryptowat.ch/assets/bcc"},{"id":22,"symbol":"bch","name":"Bitcoin
        Cash","fiat":false,"route":"https://api.cryptowat.ch/assets/bch"},{"id":25,"symbol":"bela","name":"Bela"[...]
